<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Artio</title>
        <link rel="stylesheet" href="/css/global.css" />
        <% if (typeof cssFile !== "undefined") { %>
        <link rel="stylesheet" href="/css/<%= cssFile %>.css" />
        <link rel="icon" href="/favicon.ico" />
        <% } %>
    </head>
    <body>
        <%- include('partials/header') %>
        <div id="container">
            <div id="content"><%- body %></div>
        </div>
        <%- include('partials/footer') %>
    </body>
</html>
