<div id="home">
    <div id="banner">
        <p>창작을 잇다, 예술을 펼치다.</p>
        <p>ARTIO</p>
    </div>
    <div class="list-container">
        <h2>HOT Works</h2>
        <p>가장 조회수가 많은 작품 리스트</p>
        <div class="artworks">
            <img src="/assets/1.png" alt="artwork" draggable="false" />
            <img src="/assets/2.png" alt="artwork" draggable="false" />
            <img src="/assets/3.png" alt="artwork" draggable="false" />
        </div>
    </div>
    <div class="list-container">
        <h2>Favorite Works</h2>
        <p>사용자들이 가장 좋아한 작품 리스트</p>
        <div class="artworks">
            <img src="/assets/1.png" alt="artwork" draggable="false" />
            <img src="/assets/2.png" alt="artwork" draggable="false" />
            <img src="/assets/3.png" alt="artwork" draggable="false" />
        </div>
    </div>
    <div class="list-container">
        <h2>New Works</h2>
        <p>새로운 작가들의 작품을 만나보세요!</p>
        <div class="artworks">
            <img src="/assets/1.png" alt="artwork" draggable="false" />
            <img src="/assets/2.png" alt="artwork" draggable="false" />
            <img src="/assets/3.png" alt="artwork" draggable="false" />
        </div>
    </div>
</div>

<script src="/script/horizontalScroll.js"></script>
