<form id="newPostForm">
    <h1 class="title">새 게시물</h1>
    <div class="artworks">
        <input type="file" id="imageUpload" accept="image/*" multiple />
    </div>
    <div class="input-container">
        <div class="input">
            <div>작품명</div>
            <input type="text" name="title" id="title" required />
        </div>
        <div class="input">
            <div>제작일</div>
            <input type="date" name="date" id="date" required />
        </div>
        <div class="input">
            <div>가격</div>
            <input type="number" name="price" id="price" min="0" required />
        </div>
        <div class="input">
            <div>설명</div>
            <textarea
                name="description"
                id="description"
                maxlength="1000"
            ></textarea>
        </div>
    </div>
    <button type="submit">게시물 등록</button>
</form>
<script src="/script/createPost.js"></script>
