<div class="post">
    <div class="userInfo">
        <div class="profile">
            <a href=""
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-user"
                >
                    <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                    <circle cx="12" cy="7" r="4" />
                </svg>
            </a>
            <p>로딩중</p>
        </div>
        <button class="follow">팔로우</button>
    </div>
    <div class="slider">
        <div class="slider-track"></div>
        <div class="indicator">
            <span class="dot active"></span>
        </div>
        <button class="prev"></button>
        <button class="next"></button>
    </div>
    <div class="post-container">
        <div class="post-header">
            <p class="title">제목</p>
            <div
                style="
                    display: flex;
                    gap: 10px;
                    justify-content: center;
                    align-items: center;
                "
            >
                <p class="like">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-heart"
                    >
                        <path
                            d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"
                        />
                    </svg>
                </p>
                <button
                    class="delete"
                    style="
                        display: none;
                        width: 40px;
                        height: 30px;
                        font-size: 12px;
                    "
                >
                    삭제
                </button>
            </div>
        </div>
        <p class="post-content">내용</p>
        <div class="post-footer">
            <p class="date">2024. 11. 21</p>
            <p class="price">0원</p>
        </div>
    </div>
</div>
<div class="comment-input">
    <input type="text" />
    <div class="submit">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-send"
        >
            <path
                d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z"
            />
            <path d="m21.854 2.147-10.94 10.939" />
        </svg>
    </div>
</div>
<div class="comment-container"></div>
<script src="/script/postGetter.js"></script>
