<div class="profile-container">
    <div class="follow">
        <div>
            <span class="follow-count">0</span>
            <p class="follow-text">Followers</p>
        </div>
        <div>
            <span class="follow-count">0</span>
            <p class="follow-text">Following</p>
        </div>
    </div>
    <img
        class="profile-image"
        src="../../uploads/profile_images/default-profile.png"
        alt=""
    />
    <div class="profile-info">
        <div>
            <h1 class="profile-name">John Doe</h1>
            <button>팔로우</button>
        </div>
        <p class="bio">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum
            dolor sit amet, consectetur adipiscing elit
        </p>
    </div>
</div>
<div class="feed">
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
    <img src="../assets/1.png" alt="" />
</div>
